<!DOCTYPE html>
<html>
    <head>
        <title>Log-in</title>
        <link type="text/css" rel="stylesheet" href="stylereg.css">
    </head>
     <body> 
        <div class="h4">
            <b>Municipal Managenment System</b>
            <a href="Login.html"   style="float: right;">
            <b>Login</b>
            </a>
            <b style="float: right;">&nbsp &nbsp;</b>
            <a href="register.html" style="float: right;">
            <b>Register</b>
            </a>
        </div><br><br>
        <div class="form">            <form style="height: 250px">
                Username :<br> <input class="space" type="text" name="username" > <br>
                Password : <br><input class="space" type="password" name="password"><br><br>
                <button type="submit">Login</button>
            </form>
        
        </div>
        
    </body>
</html>

